:root{
    --background-color: #58cca5;
}
/* === Header === */
#page_header {
    background: url("../images/header2.jpg") no-repeat top;
    min-height: 120px;
    background-size: cover;
    padding-top: 10px;
}
#page_header img {
filter: brightness(60%);
}
#page_header img:hover {
filter: none;
}
/* === Navigation === */
#page_nav {
    text-transform: uppercase;
    font-size: 20px;
}
#page_nav .nav-item {
    padding: 0 22px;
}
/* === Main === */
#page_main {
    min-height: 100vh;
    background: var(--background-color);
}
/* === Footer === */
#page_footer {
    background: #222;
    min-height: 200px;
    color: white    ;
}
/* === Carousel === */
.mo_carousel {
    margin: 20px;
    
}