:root{
    --background-color: #58cca5;
    --basic-font:Roboto;
    --basic-color: #684e00;
    
}
/* === Typographie === */
body {
    font-family: var(--basic-font);
}

/* === Basics === */
h1, h2, h3, h4  {
    color: var(--basic-color);
}
h1, h2 {
    font-size: 50px;
}

/* === Header === */
#page_header {
    background: url("../images/header2.jpg") no-repeat top;
    min-height: 120px;
    background-size: cover;
    padding-top: 10px;
}
#page_header img {
filter: brightness(60%);
}
#page_header img:hover {
filter: none;
}
/* === Navigation === */
#page_nav {
    text-transform: uppercase;
    font-size: 20px;
}
#page_nav .nav-item {
    padding: 0 22px;
}
/* === Main === */
#page_main {
    
    background: var(--background-color);
}

/* === Footer === */
#page_footer {
    background: #222;
    min-height: 200px;
    color: white;
}
/* === Carousel === */
.mo-carousel {
    margin: 20px;
    
}
/* === Home === */
.mo-main-btn {
    padding-top: 30px;
}
.mo-btn {
    border-radius: 60%;
    border-width: 10px;
}
.mo-btn:hover {
    background-color: red;
    border-color: #17a2b8;
    border-width: 10px;
}
#page_main .mo-main {
    background: url("../images/PoolDrone2.jpg") no-repeat bottom;
    background-size:cover;
    min-width: 100%;
    min-height: 300px;
    padding: 40px;
}
@media screen and (min-width: 768px){
    #page_main .mo-main {padding: 220px 30px;}
}
/* === Über uns === */

/* === Kurse === */

/* === Kulinarisches === */

/* === Kontakt === */

/* === Newsletter === */
